body{
    background-color: rgb(247, 241, 241);
}
.navbar{
    position:fixed;
    width:100%;
    
}

.banner{
    
    background-color:rgb(94, 94, 241);
    display:block;
   text-align: center;
   padding-top: 5rem;
   
}
.front-center{
    display:block;
    text-align: center;
    height:100vh;
    padding-top: 20rem;
}
.card-group{
    display:flex;
    justify-content: space-evenly;
    /* padding-top: 100px; */
}
#project-title{
    text-align: center;
    padding-bottom: 10px;
}