body{
    background-color: black;
    color:white;
}


/* NAV BAR LINKS */
.navbar{
    background-color:rgb(114, 175, 157);
    position:fixed;
    width:100%; 
    /* height:auto;  */ 
}
.navbar ul{
    display:flex;
    list-style: none;
}

.active {
    font-weight: 600;
    font-size: larger;
}

.active:hover, .nav-link:hover{
    color: white;
}

.nav-links{
    margin-bottom: 0;
}

section{
    
}

#front-center{
    background: url("https://images.unsplash.com/photo-1495592822108-9e6261896da8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fHNjaWVuY2V8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    height:100vh; 
    /* position: relative; */
}

.display-text{
    color:inherit;
    /* display:relative; */
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);

}

#projects{
    height:100vh;
    padding-top: 5rem;
    text-align: center;
    
}
h3{
    padding-bottom: 5rem;
    text-align: center;
    padding-bottom: 5rem;
}   

.card-group{
    width: 80vw;  
    justify-content: space-evenly;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
}
.card-group .card{
    background-color:rgb(114, 175, 157);
    height:60vh;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid white;
    box-shadow: 5px 10px #525050;
    margin-right: 10px;
   
}

.card:hover{
    color:rgb(3, 20, 6);
}

#aboutMe{
    background: url("images/cool-background.png");
    height:100vh;
    padding-top: 5rem;

    
}

.personal-info img{
    max-width: 100%;
    height:auto;
}

   

.personal-info{
    list-style: none;
    margin:auto;
    background-color:rgb(114, 175, 157);
    width:25%;
    height:60%;
    padding:20px;
    border: 3px solid white;
    box-shadow: 5px 10px #525050;
}

#contactMe{
    height:100vh;
    padding-top: 5rem;
    text-align: center;
}
@media screen and (max-width: 480px){
    .card-text {
        font-size:10px;
      }
    .card-title{

        font-size:20px;
     
    }
}